/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
    visibility: hidden;
}
tab-item tab-twisty {
  margin-right: -1em;
  opacity: 0 !important;
  position: relative;
  z-index: 10000;
}

/* Hide 'new tab' button. */
.newtab-button {
    display: none;
}

/* Dark Theme */

:root, #background {
  background: #2c2e34;
}

.tab {
  height: 32px;
  border: none;
  font: none;
  background: #2c2e34;  
}

tab-item {
	padding-left: 6px;
}

tab-item.discarded tab-favicon {
	filter: grayscale(100%) !important;
}
tab-item.active {
    background: #52596B !important;
}

.closebox {
  display: none;
}

.label-content {
  display: none;
}
.contextual-identity-marker {
  width: 0 !important;
}

:root .tab .highlighter::before {
  width: 0 !important;
}
