.tab .twisty {
    visibility: hidden;
}

tab-item tab-twisty {
  margin-right: -1em;
  opacity: 0 !important;
}

.newtab-button {
    display: none;
}

:root, #background {
  background: #2c2e34;
}

.tab {
  height: 32px;
  border: none;
  background: #2c2e34;  
}

tab-item {
	padding-left: 6px;
}

tab-item.discarded tab-favicon {
	filter: grayscale(100%) !important;
}
tab-item.active {
    background: #52596B !important;
}

.closebox {
  display: none;
}

.label-content {
  display: none;
}

.contextual-identity-marker {
  width: 0 !important;
}

tabbar {
  counter-reset: vtabs atabs tabs;
}
tab-item:not(.collapsed):not(.discarded) { 
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}

tab-item:nth-child(-n+8):before {
  font-size: 7px;
  content: counter(vtabs);
  pointer-events: none;
  position: relative;
  font-family: Terminus;
  top: -0.50rem;
  left: 0.07rem;
  margin-left: -0.32rem;
}

:root .tab .highlighter::before {
  width: 0 !important;
}