@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {

  /* hide navigation bar when it is not focused; use Ctrl+L to get focus */
  #main-window:not([customizing]) #navigator-toolbox:not(:focus-within) {
    margin-top: -34px;
  }
  #navigator-toolbox {
    transition: 0.05s margin-top ease-out;
  }

}

#nav-bar-customization-target {
	background-color: #2c2e34 !important;
}

#navigator-toolbox { --tabs-border-color: transparent !important; }
.toolbarbutton-1 {
    background-color: #2c2e34 !important;
}

#nav-bar {
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

#urlbar[breakout][breakout-extend] {
  top: 5px !important;
  left: 0px !important;
  width: 100% !important;
  padding: 0px !important;
}

#urlbar-input-container{
    border: none !important;
    font-size: 22px !important;
    background-color: #2c2e34 !important;
 }
#urlbar-background {
    background: #2c2e34 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  border: none !important;
}

#TabsToolbar { visibility: collapse ! important; }
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none !important;
}

:root {
    --thin-tab-width: 30px;
    --wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
}

