:root {
    scrollbar-width: none;
}

@-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){

body {
    background-color: #2c2e34 !important;
    --newtab-search-icon: transparent !important;
}

#newtab-search-text {
	background-color: #2c2e34 !important;
	font-size: 18px !important;
	color: #e3e1e4 !important;
	box-shadow: none !important;
	text-align: center !important;
	/* border:none !important; */
	font-weight: bold !important;
}
